<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
 
</head>
<body>
    <style>
h2{
    color: blue;
            text-transform: uppercase;
        font-size: 2.5rem;
}
li{
    color: darkgoldenrod;
        font-size: 1.5rem;
        margin: 0 auto;
        padding-right: 15px;
}
    </style>
        <section class="dashboard">
            <nav class="control-strip">
                <ul>
                    <li>Brand</li>
                    <li>Options</li>
                    <li>User status</li>
                </ul>
            </nav> 
                <aside class="sidebar"><header><h2>Sidebar</h2></header></aside>
                <aside class="panels"><header><h2>Panels</h2></header></aside>
        </section>

</body>
</html>